body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 30px;
    background-color: gainsboro;
}

ol li {
    margin: 10px 0px 0px 10px;
}

h1 {
    margin-bottom: 0px;
}

p {
    margin: 0px 0px 40px 0px;
    font-size: 0.95rem;
}

#red {
    color: red;
}

.completed {
    color: red;
    text-decoration: line-through;
}